<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/charts.min.css">
        <style>
            #page-chart.bar {
                max-width: 100%;
                height: {{50 * page_sizes|length}}px;
                margin: 0 auto;
            }              
        </style>
    </head>
    <body>
        <div>File Size: {{fsize|commafy}} bytes</div><br>
        <div>Total words: {{num_words|commafy}}</div><br>
        <div>Average Words Per Page: {{avg_words}}</div><br>
        <div>File Size / Words: {{fsize / num_words}}</div><br>
        <table class="charts-css bar show-4-secondary-axes show-labels show-heading" id="page-chart">
            <caption><b>Pages With the Largest Images:</b></caption>
            <tbody>
                {% for page_num, imgs in page_sizes.items()|sort(true, attribute='1.0') %}
                {% if imgs[0] > 0 %}
                <tr>
                    <th scope="row">Page {{ page_num + 1 }} </th>
                    {%for img in imgs %}
                    {%if loop.index0 == 0 %}
                    <td style="--size: {{ img }};padding-right:10px;">{{(img * largest)|round|int|commafy}} bytes
                        <form method="GET" action={{explorer_page+(page_num|string)}} style="padding-right: 10px; padding-left: 10px;">
                            <button type="submit">Go To</button>
                        </form>
                    </td>
                    {% else %}
                    <td style="--size: {{ img }};padding-right:10px;">{{(img * largest)|round|int|commafy}} bytes</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <form action={{explorer_page+(0|string)}} method="GET">
            <input type="submit" value="Explorer">
         </form>   
    </body>
</html>